{% extends "base.html" %}
{% block content %}

<div>
  <nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head('basic', '기본', true) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!-- 일반 -->
    {{ macros.m_tab_content_start('basic', true) }}
      <form id="setting" name="setting">
        {{ macros.setting_input_text_and_buttons('vnstat_bin', 'vnStat 실행 경로', [['check-vnstat-bin-btn', '버전 확인']], value=arg['vnstat_bin']) }}
        {{ macros.setting_input_text('traffic_list', '트래픽 표시 갯수', value=arg['traffic_list'], desc=['각 트래픽 보기마다 몇 개의 항목을 노출할 것인지 결정', '6개의 0보다 큰 숫자를 콤마로 구분하여 입력. 0이면 제한없이 모두 노출']) }}
        {{ macros.setting_radio_with_value('traffic_unit', '트래픽 표시 단위', [['si', 'SI 단위 (MB, GB, TB)'], ['iec', 'IEC 단위 (MiB, GiB, TiB)']], value=arg['traffic_unit']) }}
        {{ macros.setting_buttons([['globalSettingSaveBtn', '저장']]) }}
      </form>

    {{ macros.m_tab_content_end() }}

  </div><!--tab-content-->
</div> <!--전체-->



<script type="text/javascript">

var package_name = 'vnStat';

$("body").on('click', '#check-vnstat-bin-btn', function (e) {
  e.preventDefault();
  $.ajax({
    url: `/${package_name}/ajax/check_vnstat_bin`,
    type: "POST",
    cache: false,
    data: {'path': document.getElementById("vnstat_bin").value},
    dataType: "json",
    success: function (resp) {
      if (resp.success) {
        $.notify(resp.data, {
            type: 'info'
        });
      } else {
        $.notify('<strong>실패하였습니다!</strong><br>' + resp.log, {
            type: 'warning'
        });
      }
    }
  });
});


</script>
{% endblock %}